In [1]:
from poor_man_lakehouse.dremio.builder import DremioConnection

con = DremioConnection()

2025-08-31 23:50:42.801 | INFO     | poor_man_lakehouse.dremio.builder:_initialize_dremio:109 - Initializing Dremio setup...
2025-08-31 23:50:42.967 | INFO     | poor_man_lakehouse.dremio.builder:_initialize_dremio:115 - Admin user authentication successful
2025-08-31 23:50:43.111 | INFO     | poor_man_lakehouse.dremio.builder:_ensure_nessie_catalog:204 - Nessie catalog 'nessie' already exists

In [2]:
con._get_token()

'7bu8n7m631kliqe1mav0qch1q5'

In [3]:
con.set_catalog("nessie")

In [4]:
create_query = """CREATE TABLE IF NOT EXISTS nessie.people (
id INT,
first_name VARCHAR,
last_name VARCHAR,
age INT
) PARTITION BY (truncate(1, last_name));
"""
insert_query = """INSERT INTO nessie.people (id, first_name, last_name, age) VALUES (1, 'John', 'Doe', 28)"""
select_query = """SELECT * FROM nessie.people"""

con.to_polars(create_query)
con.to_polars(insert_query)
con.to_polars(select_query)

shape: (1, 4)
┌─────┬────────────┬───────────┬─────┐
│ id  ┆ first_name ┆ last_name ┆ age │
│ --- ┆ ---        ┆ ---       ┆ --- │
│ i32 ┆ str        ┆ str       ┆ i32 │
╞═════╪════════════╪═══════════╪═════╡
│ 1   ┆ John       ┆ Doe       ┆ 28  │
└─────┴────────────┴───────────┴─────┘

'nessie'

In [7]:
con.to_polars('SELECT * from nessie."default".bids')

shape: (5, 5)
┌─────────────────────┬────────┬────────┬────────┬───────────┐
│ datetime            ┆ symbol ┆ bid    ┆ ask    ┆ details   │
│ ---                 ┆ ---    ┆ ---    ┆ ---    ┆ ---       │
│ datetime[ms]        ┆ str    ┆ f32    ┆ f64    ┆ struct[1] │
╞═════════════════════╪════════╪════════╪════════╪═══════════╡
│ 2023-01-01 12:00:00 ┆ AAPL2  ┆ 150.0  ┆ 151.0  ┆ {"user1"} │
│ 2023-01-02 12:00:00 ┆ GOOGL  ┆ 2800.0 ┆ 2805.0 ┆ {"user2"} │
│ 2023-01-03 12:00:00 ┆ MSFT   ┆ 300.0  ┆ 305.0  ┆ {null}    │
│ 2023-01-04 12:00:00 ┆ AMZ    ┆ 2800.0 ┆ 2805.0 ┆ {"user1"} │
│ 2023-01-04 12:00:00 ┆ AMZ    ┆ 2800.0 ┆ 2805.0 ┆ {"user1"} │
└─────────────────────┴────────┴────────┴────────┴───────────┘