In [1]:
from poor_man_lakehouse import DremioConnection
from poor_man_lakehouse import IbisConnection

d = DremioConnection()

conn = IbisConnection()

/Users/graziano/GitHub/poor-man-lakehouse/.venv/lib/python3.12/site-packages/pyspark/sql/pandas/functions.py:407: UserWarning: In Python 3.6+ and Spark 3.0+, it is preferred to specify type hints for pandas UDF instead of specifying pandas UDF type which will be deprecated in the future releases. See SPARK-28264 for more details.
  warnings.warn(
25/09/06 20:46:11 WARN Utils: Your hostname, MacBookPro.homenet.telecomitalia.it resolves to a loopback address: 127.0.0.1; using 192.168.1.81 instead (on interface en0)
25/09/06 20:46:11 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Ivy Default Cache set to: /Users/graziano/.ivy2/cache
The jars for the packages stored in: /Users/graziano/.ivy2/jars
org.apache.iceberg#iceberg-spark-runtime-3.5_2.13 added as a dependency
org.projectnessie.nessie-integrations#nessie-spark-extensions-3.5_2.13 added as a dependency
org.apache.iceberg#iceberg-aws-bundle added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-05b2b855-4da1-43ef-8b5d-5c98985ef0fd;1.0
	confs: [default]

:: loading settings :: url = jar:file:/opt/homebrew/Cellar/apache-spark/3.5.6/jars/ivy-2.5.1.jar!/org/apache/ivy/core/settings/ivysettings.xml

	found org.apache.iceberg#iceberg-spark-runtime-3.5_2.13;1.9.2 in central
	found org.projectnessie.nessie-integrations#nessie-spark-extensions-3.5_2.13;0.103.3 in central
	found org.apache.iceberg#iceberg-aws-bundle;1.9.2 in central
:: resolution report :: resolve 90ms :: artifacts dl 3ms
	:: modules in use:
	org.apache.iceberg#iceberg-aws-bundle;1.9.2 from central in [default]
	org.apache.iceberg#iceberg-spark-runtime-3.5_2.13;1.9.2 from central in [default]
	org.projectnessie.nessie-integrations#nessie-spark-extensions-3.5_2.13;0.103.3 from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   3   |   0   |   0   |   0   ||   3   |   0   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-05b2b855-4da1-43ef-8b5d-5c98985ef0fd
	confs: [default]
	0 artifacts copied, 3 already retrieved (0kB/3ms)
25/09/06 20:46:11 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
2025-09-06 20:46:14.444 | INFO     | poor_man_lakehouse.dremio.builder:_initialize_dremio:109 - Initializing Dremio setup...
2025-09-06 20:46:14.619 | INFO     | poor_man_lakehouse.dremio.builder:_initialize_dremio:115 - Admin user authentication successful
2025-09-06 20:46:14.741 | INFO     | poor_man_lakehouse.dremio.builder:_ensure_nessie_catalog:204 - Nessie catalog 'nessie' already exists

In [2]:
print(conn.connections["duckdb"].list_catalogs())
print(conn.connections["duckdb"].list_databases(catalog="memory"))
print(conn.connections["duckdb"].list_tables(database="default"))

['memory', 'system', 'temp']
['main']
[]

In [3]:
conn.set_current_database("default", "duckdb")

In [4]:
polars_table = conn.read_table("default", "prova", "polars")
polars_table.execute()

,datetime,symbol,bid,ask,details
0,2023-01-01 11:00:00+00:00,AAPL,150.0,151.0,"[{'key': 'created_by', 'value': 'user1'}]"
1,2023-01-02 11:00:00+00:00,GOOGL,2800.0,2805.0,"[{'key': 'created_by', 'value': 'user2'}]"
2,2023-01-03 11:00:00+00:00,MSFT,300.0,305.0,"[{'key': 'created_by', 'value': None}]"

In [5]:
conn.sql("select * from default.prova", "duckdb").execute()

,datetime,symbol,bid,ask,details
0,2023-01-01 11:00:00+00:00,AAPL,150.0,151.0,"[{'key': 'created_by', 'value': 'user1'}]"
1,2023-01-02 11:00:00+00:00,GOOGL,2800.0,2805.0,"[{'key': 'created_by', 'value': 'user2'}]"
2,2023-01-03 11:00:00+00:00,MSFT,300.0,305.0,"[{'key': 'created_by', 'value': None}]"

In [6]:
polars_table.select("datetime", "symbol").filter(
    polars_table["symbol"] == "AAPL"
).execute()

                   datetime symbol
0 2023-01-01 11:00:00+00:00   AAPL

In [ ]:
pyspark_table = conn.read_table("default", "prova", "pyspark")
pyspark_table.execute()

/Users/graziano/GitHub/poor-man-lakehouse/.venv/lib/python3.12/site-packages/pyspark/sql/pandas/functions.py:407: UserWarning: In Python 3.6+ and Spark 3.0+, it is preferred to specify type hints for pandas UDF instead of specifying pandas UDF type which will be deprecated in the future releases. See SPARK-28264 for more details.
  warnings.warn(

In [ ]:
pyspark_table.select("datetime", "symbol").filter(
    pyspark_table["symbol"] == "AAPL"
).execute()

In [ ]:
pyspark_table.sql("""SELECT * FROM prova WHERE symbol = 'AAPL'""").execute()

In [ ]:
conn.list_tables("polars")

In [ ]:
conn._fix_polars_table_name("select * from default.prova join default.prova2 on default.prova.id = default.prova2.id")

In [ ]:
conn.sql("select * from default.prova", "polars").execute()