In [1]:
from poor_man_lakehouse import DremioConnection
from poor_man_lakehouse import IbisConnection

d = DremioConnection()

conn = IbisConnection()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
2025-09-06 19:09:31.088 | INFO     | poor_man_lakehouse.dremio.builder:_initialize_dremio:109 - Initializing Dremio setup...
2025-09-06 19:09:31.321 | INFO     | poor_man_lakehouse.dremio.builder:_initialize_dremio:115 - Admin user authentication successful
2025-09-06 19:09:31.434 | INFO     | poor_man_lakehouse.dremio.builder:_ensure_nessie_catalog:204 - Nessie catalog 'nessie' already exists

In [2]:
conn.read_table("default", "prova", "polars").execute()

                   datetime  ...                                    details
0 2023-01-01 11:00:00+00:00  ...  [{'key': 'created_by', 'value': 'user1'}]
1 2023-01-02 11:00:00+00:00  ...  [{'key': 'created_by', 'value': 'user2'}]
2 2023-01-03 11:00:00+00:00  ...     [{'key': 'created_by', 'value': None}]

[3 rows x 5 columns]

In [3]:
conn.read_table("default", "prova", "pyspark").execute()

/Users/graziano/GitHub/poor-man-lakehouse/.venv/lib/python3.12/site-packages/pyspark/sql/pandas/functions.py:407: UserWarning: In Python 3.6+ and Spark 3.0+, it is preferred to specify type hints for pandas UDF instead of specifying pandas UDF type which will be deprecated in the future releases. See SPARK-28264 for more details.
  warnings.warn(

             datetime symbol     bid     ask                  details
0 2023-01-01 11:00:00   AAPL   150.0   151.0  {'created_by': 'user1'}
1 2023-01-02 11:00:00  GOOGL  2800.0  2805.0  {'created_by': 'user2'}
2 2023-01-03 11:00:00   MSFT   300.0   305.0     {'created_by': None}

In [4]:
conn.read_table("default", "prova", "duckdb").execute()

NotImplementedError: DuckDB read_table is not implemented yet. Use sql() method instead.